@import "tailwindcss";

@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/lexend.ttf");
}

:root {
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  
}
html, body {
  width: 100%;
  height: 100%;
}
